.elements__info {
    display: flex;
    flex-direction: row;
    height: 23px;
    max-width: 246px;
    
    margin: 25px 21px 25px 15px;
   align-items: center;
   justify-content: space-between;
}


