.elements__info {
    display: flex;
    flex-direction: row;
    height: 23px;
    max-width: 246px;
    margin-right: 21px;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
   align-items: center;
   justify-content: space-between;
}
