.elements__item {
    flex-direction: column;
    color: black;
    border-radius: 10px;
    align-items: center;
    background-color: #ffffff;
    position: relative;
    height: 361px;
    max-width: 282px;
    display: flex;

}
